.myhead {
    padding-top: 1rem;
}

.searchpanel{
    border: 1px solid #ccc;


}

.toponeinside {
    padding-top: 1rem;
}

.toptwoinside {
    padding-top: 2rem;
}

.bottomoneinside {
    padding-bottom: 1rem;
}

.topirone {
    margin-top: -1rem;
}

.myuser a {
    margin-right: 1rem;
}

.mycart {
    text-shadow: 1px 1px 1px #ccc;
    }
.mymenu {
    width: 98% !important;
    min-width: 5rem;
}

.myborder {
    border: 1px solid rgba(34, 36, 38, 0.15);
    box-shadow: 0 1px 2px 0 rgba(34, 36, 38, 0.15);
}