.myhead {
    padding-top: 1rem;
}

.searchpanel{
    border: 1px solid #ccc;


}

.toponeinside {
    padding-top: 1rem;
}

.toptwoinside {
    padding-top: 2rem;
}

.bottomoneinside {
    padding-bottom: 1rem;
}

.topirone {
    margin-top: -1rem;
}

.myuser a {
    margin-right: 1rem;
}
