doctype html
html(class="no-js" lang="ru")
    head
        titile
        meta(charset="utf-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet" href="css/foundation.css")
        link(rel="styleSheet" href="css/style.css")
        link(rel="styleSheet" href="css/components/icon.min.css")
        link(rel="styleSheet" href="css/components/input.min.css")
        link(rel="styleSheet" href="css/components/button.min.css")
        link(rel="styleSheet" href="css/components/menu.min.css")

        script(src="js/vendor/modernizr.js")
// хедер
.row
    .large-16.myhead
        .large-5.medium-16.small-16.columns.large-text-left.small-text-center.bottomoneinside
            a(href="/")
                img(src="img/logo.jpg")
        .large-6.medium-16.small-16.columns.large-text-center.small-text-center
            i.icon.skype.big.grey
            span skype &nbsp; &nbsp;
            i.icon.mail.big.grey
            span mymail
        .large-5.medium-16.columns.large-text-right.small-text-center
            i.icon.phone.big.grey
            span  Тел: +7 (563) 255-22-22
            br
            span Тел: 8-800-222-22-22
            br
            span звоните с ПН по ПТ с 8.45 до 18.00
//панель поиска
.row
    .large-14.searchpanel.large-offset-2.right.toptwoinside.medium-16
            .ui.input.large-offset-3.large-7.column.medium-16
                form(name="search-form", method="post")
                i.icon.search.big.grey
                input(type="text" placeholder="Введите запрос")
                button(class="ui button green") Найти
            //    корзина
            .large-4.column.bottomoneinside.medium-16.small-16.large-text-right.small-text-center
                .large-6.small-16.column.large-text-right
                    i.icon.shop.huge.grey
                .large-10.small-16.column.large-text-left.medium-text-center
                    | Всего товаров
                    strong  1
                    br
                    | На сумму
                    strong  250 000

.row
    .large-16.toponeinside
        .ui.right.dropdown.item.show-for-small-only
            | Меню
            i.dropdown.icon
        .large-9.column.hide-for-small
            .ui.three.item.menu
                a(class="item active" href="#") Главная
                a(class="item" href="#") Доставка и оплата
                a(class="item" href="#") О компании
                a(class="item" href="#") Контакты
         .large-7.column.toponeinside.text-right.myuser
             i.icon.sign.in
             a(href="#") Вход
             i.icon.user
             a(href="#") Регистрация



script(src="js/vendor/jquery.js")
script(src="js/foundation.min.js")
script $(document).foundation();



