doctype html
html(class="no-js" lang="ru")
    head
        title Магазин
        meta(charset="utf-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet" href="css/foundation.css")
        link(rel="styleSheet" href="css/style.css")
        link(rel="styleSheet" href="css/components/icon.min.css")
        link(rel="styleSheet" href="css/components/input.min.css")
        link(rel="styleSheet" href="css/components/button.min.css")
        link(rel="styleSheet" href="css/components/menu.min.css")
        link(rel="styleSheet" href="css/components/transition.min.css")
        link(rel="styleSheet" href="css/components/dropdown.min.css")
        link(rel="styleSheet" href="css/components/popup.min.css")
        link(rel="styleSheet" href="css/components/grid.min.css")
        link(rel="styleSheet" href="css/components/dimmer.min.css")
        link(rel="styleSheet" href="css/components/list.min.css")
        link(rel="styleSheet" href="css/components/segment.min.css")



        script(src="js/vendor/modernizr.js")
// хедер
.row
    .large-16.myhead
        .large-5.medium-16.small-16.columns.large-text-left.small-text-center.bottomoneinside
            a(href="/")
                img(src="img/logo.jpg")
        .large-6.medium-16.small-16.columns.large-text-center.small-text-center
            i.icon.skype.big.blue
            span skype &nbsp; &nbsp;
            i.icon.mail.big.brown
            span mymail
        .large-5.medium-16.columns.large-text-right.small-text-center
            i.icon.phone.big.grey
            span  Тел: +7 (563) 255-22-22
            br
            span Тел: 8-800-222-22-22
            br
            span звоните с ПН по ПТ с 8.45 до 18.00
//панель поиска
.row
    .large-14.searchpanel.large-offset-2.right.toptwoinside.medium-16
            .ui.input.action.large-offset-3.large-7.column.medium-16
                form(name="search-form", method="post")
                i.icon.search.big.mycart.grey
                input(type="text" placeholder="Введите запрос...")
                button(class="ui button green") Найти
            //    корзина
            .large-4.column.bottomoneinside.medium-16.small-16.large-text-right.small-text-center
                .large-6.small-16.column.large-text-right
                    i.icon.shop.huge.mycart.orange
                .large-10.small-16.column.large-text-left.medium-text-center
                    | Всего товаров
                    strong  1
                    br
                    | На сумму
                    strong  250 000

.row
    .large-16.toponeinside
        // Меню для мобильных версий
        .small-5.column
            .ui.center.dropdown.item.show-for-small-only
                | Меню
                i.sidebar.icon.green
                .menu
                    div.item
                        a(href="#")
                        i.icon.home
                        | Главная
                    div.item
                        a(href="#")
                        i.icon.shipping
                        | Доставка и оплата
                    div.item
                        a(href="#")
                        i.icon.building
                        | О компании
                    div.item
                        a(href="#")
                        i.icon.map
                        | Контакты
        //                Меню для больших экранов
        .large-9.column.hide-for-small
            .ui.three.item.menu
                a(class="item active" href="#")
                    i.icon.home
                    | Главная
                a(class="item" href="#")
                    i.icon.shipping
                    | Доставка и оплата
                a(class="item" href="#")
                    i.icon.building
                    | О компании
                a(class="item" href="#")
                    i.icon.map
                    | Контакты
         .large-7.column.text-right.myuser.small-11.column
             i.icon.sign.in
             a(href="#") Вход
             i.icon.user
             a(href="#") Регистрация

.row.toponeinside.bottomoneinside
    .large-3.right.small-16.small-text-center
        section.large-text-right.small-text-center
            a.ui.button.green(href="#")
                i.icon.phone.sign
                | Заказать звонок

.row
    aside#lside.large-4.column.medium-4
        // Каталог для десктоп версиии
        section.show-for-medium-up
            .mysection.bottomoneinside
                h5.large-push-1 Строительные материалы
                    .ui.menu.vertical.nonboreder
                        .ui.dropdown.item
                            | Сухие смеси
                            i.dropdown.icon
                            .menu
                                a.item(href="#") Строительные смеси
                                a.item(href="#") Штукатурные смеси
                                a.item(href="#") Шпатлевачные смеси
                        .ui.dropdown.item
                            | Листовые материалы
                            i.dropdown.icon
                            .menu
                                a.item(href="#") Гипсокартон
                                a.item(href="#") Гипсоволокно
                                a.item(href="#") Фанера, ОСБ, ДВП, ДСП
                        .ui.dropdown.item
                            | Профили
                            i.dropdown.icon
                            .menu
                                a.item(href="#") Профили для гипсокартона
                                a.item(href="#") Крепеж для гипсокартона
                                a.item(href="#") Маяки, профили специальные
                                a.item(href="#") Профили и крепеж упаковками
            .mysection.bottomoneinside
                h5.large-push-1 Отделочные материалы
                    .ui.menu.vertical.nonboreder
                        .ui.dropdown.item
                            | Лако-красочные материалы
                            i.dropdown.icon
                            .menu
                                a.item(href="#") Краски интерьерные
                                a.item(href="#") Краски фасадные
                                a.item(href="#") Эмали по дереву и металлу
                        .ui.dropdown.item
                            | Потолок
                            i.dropdown.icon
                            .menu
                                a.item(href="#") Подвесной потолок
                                a.item(href="#") Реечный потолок
                                a.item(href="#") Плинтус отделочный
                        .ui.dropdown.item
                            | Профили
                            i.dropdown.icon
                            .menu
                                a.item(href="#") Профили для гипсокартона
                                a.item(href="#") Крепеж для гипсокартона
                                a.item(href="#") Маяки, профили специальные
                                a.item(href="#") Профили и крепеж упаковками

        //Мобильный каталог , только три основных раздела
        .browse.item.show-for-small-only.text-center.ui.section
            | Каталог
            i.icon.dropdown
        .ui.fluid.popup.top.left.transition.hidden
            .ui.three.column.relaxed.divided.grid
                .column
                    h5.ui.header.text-center  Строительные материалы
                    .ui.link.list
                        a.item(href="#") Сухие смеси
                        a.item(href="#") Листовые материалы
                        a.item(href="#") Профили
                .column
                    h5.ui.header.text-center Отделочные материалы
                    .ui.link.list
                        a.item(href="#") Лако-красочные материалы
                        a.item(href="#") Потолок
                        a.item(href="#") Отделка стен
                .column
                    h5.ui.header.text-center Инструмент
                    .ui.link.list
                        a.item(href="#") Электро инструмент
                        a.item(href="#") Расходные материалы и насадки
                        a.item(href="#") Малярный инструмент

    .large-9.column.medium-11.medium-push-1.large-push-0
        p Тут контент
    aside#rside.large-3.column
        p Тут меню




script(src="js/vendor/jquery.js")
script(src="js/foundation.min.js")
script(src="css/components/dropdown.js")
script $(document).foundation();
script(src="css/components/transition.js")
script(src="css/components/popup.min.js")
script(src="js/main.js")



